<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="error-container">
        <h1>ERROR</h1>
        <h2>Server error</h2>
    </div>
</body>
</html>
